body {
  font-family: "Space Mono", monospace;
  color: white;
  background-color: black;
  margin: 0;
}
.navbar {
  background-color: brown;
}
.linkuri {
  display: inline-block;
  margin-bottom: 1rem;
}
.linkuri a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 0 1rem;
  white-space: nowrap;
}
.linkuri a:hover {
  border-bottom: 1px solid white;
}
.navbar h1 {
  font-size: 4rem;
  display: inline-block;
  margin: 0;
  padding: 1rem 1.5rem;
}
.pizzaimg {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  background-color: brown;
  margin: 0;
  padding: 2rem;
}
