body {
  font-family: "Space Mono", monospace;
  color: white;
  background-color: black;
  margin: 0;
}
.navbar {
  background-color: brown;
}
.linkuri {
  display: inline-block;
  margin-bottom: 1rem;
}
.linkuri a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 0 1rem;
  white-space: nowrap;
}
.linkuri a:hover {
  border-bottom: 1px solid white;
}
.navbar h1 {
  font-size: 4rem;
  display: inline-block;
  margin: 0;
  padding: 1rem 1.5rem;
}
.container {
  width: 100%;
}
.pizzaimagine img {
  width: 100%;
}
.pizzaimagine {
  width: 100%;
}
.pizzatext p {
  text-align: center;
  padding: 0 2rem;
}
@media only screen and (min-width: 1000px) {
  .pizzaimagine {
    width: 49%;
    display: inline-block;
  }
  .pizzaimagine img {
    display: block;
    margin-left: auto;
    margin-right: 5rem;
    width: 50%;
    margin-top: 4rem;
    height: 40rem;
    object-fit: cover;
  }
  .pizzatext {
    float: right;
    width: 49%;
  }
  .pizzatext p {
    display: flex;
    justify-content: center;
    padding-top: 7rem;
    width: 70%;
  }
}
